.container {
  display: block;
  margin-top: 15px;
}
.container:first-child {
  margin-top: 20px;
}
.container .buttonsWrapper {
  display: flex;
  align-items: center;
  float: left;
}
.container .buttonsWrapper .button {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}
.container .buttonsWrapper .button img {
  width: 100%;
}
.container a {
  color: #b6b6b6;
  text-decoration: underline;
  line-height: 22px;
}
.container a:hover {
  color: #e7e7e7;
}
